.badge-container{
  text-align: center;
}
.badge-container ul{
  list-style: none;
  padding: 0;
}

.badge-container ul li{
  display: inline;
}

@media (max-width: 568px) {
  .badge-container ul li a img.badge{
    width: 29%;
    margin: 4px;
  }
}

@media (min-width: 720px) {
  .badge-container ul li a img.badge{
    width: 10%;
    margin: 4px;
  }
}

li.list-item{
  height: 48px;
  display: inline-block;
  vertical-align: middle;
}

li.list-item img.list-logo{
  width: 25px;
  position: absolute;
}

li.list-item a{
  padding-left: 35px;
}
