.badge-list ul,
.badge-container ul
{
  list-style: none;
  padding: 0;
}

.badge-container ul li{
  display: inline-block;
}

.badge-list ul li{
  width: 100%;
  background-color: #f3f3f3;
  margin: 5px 0;
  padding: 5px;
  border-radius: 25px;
  flex-direction: column;
  align-content: space-between;
  display: -webkit-inline-box;
}

a.image-badge:hover{
  text-decoration: none;
}

.badge-list ul li .image-badge-detail{
  width: calc(100% - 115px);
}

.badge-list ul li .image-badge-detail p,
.badge-list ul li .image-badge-detail h6{
  margin: 0 auto;
}

nav.navigation{
  position: fixed;
  background-color: white;
}

.badge-list ul li img
{
  display: inline-block;
}
.badge-list ul li a
{
  display: inline;
  font-size: 1.6rem;
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 700;
  text-decoration: underline;
  color: #212121;
}
.badge-list ul li a:hover
{
  color: #1565c0;
  text-decoration: underline;
}
.badge-list ul li img.badge,
.badge-container ul li img.badge
{
  background-color: black;
  padding: 16px;
  border-radius: 33px;
  height: 90px;
  width: 90px;
  margin: 0px;
  background: radial-gradient(circle at 56px 137px, #fff, #eee)
}

@media (max-width: 320px) {
  .badge-list ul li img.badge,
  .badge-container ul li img.badge
  {
    height: 90px;
    width: 90px;
    margin: 0px;
  }
}

@media (min-width: 321px) {
  .badge-list ul li img.badge,
  .badge-container ul li img.badge
  {
    height: 70px;
    width: 70px;
    margin: 5px;
  }
}
@media (min-width: 322px) {
  .badge-list ul li img.badge,
  .badge-container ul li img.badge
  {
    height: 90px;
    width: 90px;
    margin: 5px;
  }
}

li.list-item{
  height: 48px;
  display: inline-block;
  vertical-align: middle;
}

li.list-item img.list-logo{
  width: 25px;
  position: absolute;
  z-index: -1;
}

li.list-item a{
  padding-left: 35px;
}

.fa-link{
  color: gray;
}

.form-style-7{
  width: 100%;
  border-radius:2px;
}
.form-style-7 h1{
  display: block;
  text-align: center;
  padding: 0;
  margin: 0px 0px 20px 0px;
  color: #5C5C5C;
  font-size:x-large;
}
.form-style-7 ul{
  list-style:none;
  padding:0;
  margin:0;   
}
.form-style-7 li{
  display: block;
  padding: 4px;
  border:1px solid #DDDDDD;
  margin-bottom: 30px;
  border-radius: 3px;
}
.form-style-7 li:last-child{
  border:none;
  margin-bottom: 0px;
  text-align: center;
}
.form-style-7 li > label{
  display: block;
  float: left;
  margin-top: -19px;
  background: #FAFAFA;
  height: 25px;
  padding: 2px 5px 2px 5px;
  color: #B9B9B9;
  font-size: 14px;
  overflow: hidden;
}

.form-style-7 #topic{
  height: 120px;
}

.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select 
{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 45px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
}
.form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
.form-style-7 input[type="datetime"]:focus,
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 input[type="search"]:focus,
.form-style-7 input[type="time"]:focus,
.form-style-7 input[type="url"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus 
{
}
.form-style-7 li > span{
  background: #F3F3F3;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: #C0C0C0;
  font-size: 11px;
}

.contact-section{
  text-align: center;
}

.contact-section button{
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #000;
  border-radius: 3px;
  background-color: #FAFAFA;
  color: #000;
}
.contact-section button:hover{
  color:#9e9e9e;
  cursor: pointer;
}
.contact-section button[focus]:hover{
  outline: none;
}

.align-left{
  text-align: left;
}

.error{
  color: orangered;
}

h3.info{
  margin: 0 auto;
}

li.shortcode-list-item strong {
  display: block;
}

li.shortcode-list-item {
  text-align: center;
  margin-bottom: 10px;
}