<section class="container centered">
  <div class="about">
    {{ with .Site.Params.avatarurl }}
      <div class="avatar"><img src="{{ . }}" alt="avatar"></div>
    {{ end }}
    <h1>{{ .Site.Params.author }}</h1>
    <section class="rw-wrapper">
      <div class="rw-words rw-words-1">
        <div>
          <strong>
            is
          </strong>
        </div>
        {{ range .Site.Params.infos }}
          <span> {{ .label }}</span>
        {{ end }}
      </div>
    </section>
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort .}}
        {{ if .icon }}
          <li><a href="{{ .url }}" target="_blank"><i class="{{ .icon }}"></i></a></li>
        {{ else }}
          <li><a href="{{ .url }}" target="_blank">{{ .name }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
    {{ end }}
  </div>
</section>