<section class="container list">
  <h1 class="title">{{ .Title }}</h1>
  <ul>
    {{ range .Paginator.Pages }}
    <li class="list-item" style="margin-top: 16px">
        <div class="logo-container">
          <img class="list-logo" src='{{ .Params.logo }}' alt="logo"/>
          {{ if .Params.logo2 }}
            <img class="list-logo" src='{{ .Params.logo2 }}' alt="logo"/>
          {{ end }}
        </div>
        <div class="link-container">
          <a href="{{ .URL }}">{{ .Title }}</a>
        </div>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
