<section>
    <form class="form-style-7" netlify>
        <ul>
            <li>
                <label for="name">Name</label>
                <input type="text" name="name" maxlength="100">
                <span>Enter your full name here</span>
            </li>
            <li>
                <label for="email">Email</label>
                <input type="email" name="email" maxlength="100">
                <span>Enter a valid email address</span>
            </li>
            <li>
                <label for="phone">Phone</label>
                <input type="text" name="phone">
                <span>Your phone number</span>
            </li>
            <li>
                <label for="topic">Message</label>
                <textarea id="topic" rows="10" cols="70" name="topic"></textarea>
                <span>Message</span>
            </li>
            <li>
                <input type="submit" value="Submit" >
            </li>
        </ul>
    </form>
</section>
