<section class="contact-section">
    <form class="form-style-7" netlify>
        <ul>
            <li>
                <label for="name">Name</label>
                <input type="text" name="name" maxlength="100">
            </li>
            <li>
                <label for="email">Email</label>
                <input type="email" name="email" maxlength="100">
            </li>
            <li>
                <label for="phone">Phone</label>
                <input type="text" name="phone">
            </li>
            <li>
                <label for="topic">Message</label>
                <textarea id="topic" rows="10" cols="70" name="topic"></textarea>
            </li>
            <div class="msg-error error align-left"></div>
        </ul>
        <button type="submit" id="btn-validate">Submit</button>
    </form>
</section>
